.cont-general, .cont-form{
    width: 100%;
    height: 100%
}
.cont-form{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.cont-form, form{
    margin: 0 auto;
}
.submit{
    width: 100%;
    margin-bottom: 10px;
}
a{
padding: 10px;
}
.cont-img, img{
    max-width: 100%;

}
img{
    width: 30%;
}