<div class="cont-general">
    <div class="cont-form">
        <div class="cont-img">
            <img src="../../../../assets/imgs/register.jpg" alt="">
            <h2>Register</h2>
        </div>
        <form action="" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="cont-input">
                <input type="email" formControlName="email" placeholder="Email">
                <input type="password" formControlName="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary submit">
                Register
            </button>
            <a [routerLink]="['/login']">I have an account</a>
        </form>
    </div>
</div>
