.row{
    margin: 10px;
}
.form-alerts{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.actions{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.cont-no-results{
    width: 100%;
    height: calc(100% - 56px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cont-no-results img{
    
    height: 60%;
}
.cont-spinner{
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}