<app-navbar></app-navbar>
<div class="cont-spinner"*ngIf="showSpinner">
    <div class="spinner-border text-primary" role="status" >
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<div class="cont-no-results" *ngIf="fv.length == 0 && showSpinner == false">
    <img src="../../../assets/imgs/402.jpg" alt="">
    <h3>No results :(</h3>
</div>
<form action="" [formGroup]="formAlerts" (ngSubmit)="onSubmit()" *ngIf="showAlert" class="form-alerts">
    <div class="cont-select">
        <select name="" id="" class="form-select" formControlName="input1">
            <option value="{{f}}" *ngFor="let f of type, index as i">{{f}}</option>
        </select>
    </div>
    <div class="cont-select">
        <select name="select" id="" formControlName="input2" class="form-select">
            <option value="<"><</option>
            <option value=">">></option>
            <option value="=">=</option>
            <option value=">=">>=</option>
            <option value="<="><=</option>
        </select>
    </div>
    <div class="cont-input">
        <input type="text" formControlName="input3" placeholder="Value" class="form-control">
    </div>
    <button class="btn btn-primary" type="submit">Save</button>
</form>

<div class="row" *ngIf="fv.length > 0">
    <div class="col-sm-6 mb-1" *ngFor="let f of fv, index as i">
        <div class="card" >
            <div class="card-body" >
                <div class="cont">
                    <h5 class="card-title">Temperature: {{f.data?.temp_c}} °</h5>              
                    <img src="../../../assets/imgs/{{f.data?.wx_icon}}" alt="">
                </div>
              <h5 class="card-title">Temperature Feels Like: {{f.data?.feelslike_c}} °</h5>
              <h5 class="card-title">Humidity level: {{f.data?.humid_pct}} %</h5>
              <h5 class="card-title">Wind: {{f.data?.windspd_kmh}} km/h</h5>
              <div class="actions">
                  <a class="btn btn-primary mr-1" (click)="addAlert(f)">Add Alerts</a>
                  <a class="btn btn-danger ml-1" (click)="deleteFv(f.info)">Delete Favorite</a>
                  <a class="btn btn-info" (click)="showAlerts(f)">View Alerts</a>
              </div>
            </div>
          </div>   
    </div>
</div>
