<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <div class="" id="navbarNavAltMarkup">
        <!-- collapse navbar-collapse -->
        <div class="navbar-nav">
          <a class="nav-link" aria-current="page" routerLink="/home" routerLinkActive="active">Home</a>
          <a class="nav-link" routerLink="/favorites" routerLinkActive="active">Favorites</a>
          <a class="nav-link" (click)="onLogout()" style="cursor: pointer;">Log Out</a>
        </div>
      </div>
    </div>
</nav>