.cont-general, .cont-form{
    width: 100%;
    height: calc(100% - 56px);
}
.cont-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.cont-form, form{
    margin: 0 auto;
}
.nav{
    min-width: 1000px;
}
.submit{
    width: 100%;
    
}
table{
    width: 80%;
    margin: 0 auto;
}
.cont-img img{
    width: 20%;
    
}
