<app-navbar></app-navbar>
<div class="cont-general">
  <div class="cont-form">
      <div class="cont-img">
        <img src="../../../assets/imgs/zip.jpg" alt="">
      </div>
        <form action="" [formGroup]="filterForm" (ngSubmit)="onSubmit()">
            <div class="cont-input">
                <!-- <input type="text" formControlName="country" placeholder="Country"> -->
                <input type="number" formControlName="zipCode" placeholder="Zip Code">
            </div>
            <button type="submit" class="btn btn-primary submit">
                Search
            </button>
        </form>
    </div>
    <table class="table" *ngIf="prueba">
        <thead>
          <tr>
            <th scope="col">Postal Code</th>
            <th scope="col">Country</th>
            <th scope="col">State</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody *ngFor="let pruebs of prueba, index as i">
          <tr>
            <th>{{pruebs.postal_code}}</th>
            <td>{{pruebs.country_code}}</td>
            <td>{{pruebs.state_en}}</td>
            <td><button class="btn btn-info" (click)="goView(pruebs.country_code, pruebs.postal_code, pruebs.latitude, pruebs.longitude)">View</button></td>
          </tr>
        </tbody>
      </table>    
</div>
