<app-navbar></app-navbar>
<div class="cont-spinner"*ngIf="showSpinnerInfo && showSpinnerFv">
  <div class="spinner-border text-primary" role="status" >
      <span class="visually-hidden">Loading...</span>
  </div>
</div>
<div class="cont-gen"*ngIf="!showSpinnerInfo && !showSpinnerFv">
  <div class="options">
    <button class="btn btn-danger" [routerLink]="['/home']"> ← Go back</button>
    <div class="cont-fv">
      <p (click)="addFavorite()" [ngClass]="{'Fv': !showFv, 'noFv': showFv}" disabled=""> ✰ Add Favorite</p>
    </div>
  </div>
  <div class="cont-card">
        <div class="card text-center">
            <div class="card-header">
              Country: {{country}}
            </div>
            <div class="card-body">
                <div class="cont">
                    <h5 class="card-title">Temperature: {{weather?.temp_c}} °</h5>              
                    <img *ngIf="weather" src="../../../assets/imgs/{{weather?.wx_icon}}" alt="">
                </div>
              <h5 class="card-title">Temperature Feels Like: {{weather?.feelslike_c}} °</h5>
              <h5 class="card-title">Humidity level: {{weather?.humid_pct}} %</h5>
              <h5 class="card-title">Wind: {{weather?.windspd_kmh}} km/h</h5>

              <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
            <div class="card-footer text-muted">
              Zip Code: {{zip}}
            </div>
          </div>
    </div>
</div>