.cont-gen{
    height: 100%;
    width: 100%;
    position:relative;
    overflow:hidden;
}
.cont-card{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}
.card{
    margin: 0 auto;
    max-height: 700px;
}
.cont{
    display: flex;
    text-align: center;
    justify-content: center;
}
.options{
    /* margin: 5px; */
    padding: 10px;
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 100%;
}
.noFv{
    color: black;
    cursor: pointer;
}
.Fv{
    color: rgb(207, 207, 132);
    /* pointer-events: none; */
    cursor: pointer; 
}
.cont-spinner{
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}