<div class="cont-general">
    <div class="cont-form">
        <div class="cont-img">
            <img src="../../../../assets/imgs/login.jpg" alt="">
            <h2>Login</h2>
        </div>
        <form action="" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="cont-input">
                <input type="email" formControlName="email" placeholder="Email">
                <input type="password" formControlName="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary submit">
                Login
            </button>
            <a [routerLink]="['/register']">I would like to register</a>
        </form>
    </div>
</div>
